<!doctype html>
<title>{% block title %}{% endblock %} - First Contact</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>First Contact</h1>
{% block content %}{% endblock %}
<section class="content">
 

<center><a href="https://www.goethe.de/ins/gb/en/index.html">Learning resources</a></center>

<div class="w3-panel w3-leftbar w3-sand">
  <p class="w3-xxlarge w3-serif">
  <center><i>“The limits of my language are the limits of my world.”</i></p><center>
  <centre><p>Ludwig Wittgenstein</p><center>
  <center><i>“Life is a foreign language, all men mispronounce it.”</i></p><center>
  <centre><p>Christopher Morley</p><center>
</div>


