html { font-family: sans-serif; background-image: url("https://i.natgeofe.com/n/28fd84d5-ebb6-45c8-a758-17d0089a0464/TT_report_ST0058057copy-Enhanced_HR.jpg"); background-repeat: no-repeat; background-size: cover; padding: 1rem; }

h1 { font-family: sans-serif; color: #3742a8; margin: 1rem 10; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: rgb(211, 211, 211); display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { white-space: nowrap; flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #caeaf6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }


input[type=submit] { 
    background-color: #04aa6d;
    border:none;
    color: white;
    padding: 14px 32px;
    text-decoration: none;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
    align-self: start; min-width: 10em; }
